.btn {
  transition: all 0.2s ease;
  cursor: pointer;
  display: inline-block;
  background: #E64B52;
  border: 1px solid transparent;
  border-radius: 90px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 26px;
  color: #FFFFFF;
  line-height: 1;
  &:hover {
    @media (min-width: 1280px) {
	    background: #a62B32;
    }
    
  }
  &--white {
    background-color: #ffffff;
    color: #E64B52;
    &:hover {
      @media (min-width: 1280px) {
	      background: #dddddd;
      }
      
    }
    // border: 1px solid #ffffff;
  }
  &--yellow {
    background-color: #F1C24A;
    color: #0C1E42;
    &:hover {
      @media (min-width: 1280px) {
	      background: #d1a22A;
      }
      
    }
  }
}