.cashback {
  background-color: #1A3788;
  background-image: url("../assets/images/cashback_bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 300px) 0;
  background-size: contain;
  margin-bottom: 123px;
  @media (max-width: 991px) {
    background-image: url("../assets/images/cashback_bg_tab.svg");
    background-position: calc(50% - 121px) 0;
    margin-bottom: 100px;
  }
  @media (max-width: 767px) {
		margin-bottom: 50px;
	}
  &__container {
    display: flex;
    align-items: center;
    height: 240px;
    @media (max-width: 991px) {
      flex-direction: column;
      height: auto;
      padding-top: 63px;
      padding-bottom: 77px;
    }
    @media (max-width: 767px) {
      padding-top: 27px;
      padding-bottom: 50px;
    }
  }
  &__image {
    flex: 0 0 auto;
    // margin-right: -60px;
    // width: 514px;
    // height: 313px;
    height: 223px;
    width: 223px;
      // content: "";
      // display: block;
    position: relative;
    background-image: url("../assets/images/cashback_02.png");
    background-size: contain;
    margin-right: 53px;
    // left: -100px;
    @media (max-width: 1365px) {
      
      background-repeat: no-repeat;
      // width: 350px;
      // height: 217px;
      // left: 0;
      margin-right: 86px;
    }
    @media (max-width: 991px) {
      // width: 304px;
      // height: 185px;
      width: 274px;
      height: 274px;
      // margin-bottom: 41px;
      margin-right: 0;
    }
    @media (max-width: 991px) {
      // width: 304px;
      // height: 185px;
      width: 252px;
      height: 252px;
      // margin-bottom: 41px;
      // margin-right: 0;
    }

  }
  &__text {
    max-width: 993px;
    // display: flex;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    // &::before {
      
    // }
    @media (max-width: 991px) {
      font-size: 30px;
      line-height: 35px;
      text-align: center;
      max-width: 495px;
      @media (max-width: 767px) {
        text-align: left;
      }
    }
    span {
      color: #E64B52;
    }
  }
}