.cost {
  margin-bottom: 87px;
  @media (max-width: 991px) {
		margin-bottom: 100px;
  }
  @media (max-width: 767px) {
		margin-bottom: 50px;
	}
  &__container {
    position: relative;
    @media (max-width: 767px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &__decor {
    position: absolute;
    // display: none;
    background-image: url("../assets/images/cost_bg.svg");
    width: 373px;
    height: 230px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1365px) {
      width: 253px;
      height: 148px;
      background-size: contain;
      background-repeat: no-repeat;
      left: 227px;
    }
    @media (max-width: 991px) {
      left: 157px;
    }
    @media (max-width: 767px) {
      top: 15px;
    }
  }
  &__discount {
    font-weight: bold;
    font-size: 74px;
    line-height: 1;
    color: #FFFFFF;
    @media (max-width: 1365px) {
      font-size: 50px;
    }
  }
  &__before {
    font-size: 20px;
    line-height: 135%;
    color: #FFFFFF;
    @media (max-width: 1365px) {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: #1A3788;
    margin-bottom: 97px;
  }
  &__content {
    display: flex;
    align-items: center;
    @media (max-width: 1365px) {
      flex-direction: column;
    }
  }
  &__box1 {
    background: #0C1E42;
    padding-left: 94px;
    padding-top: 72px;
    padding-right: 30px;
    padding-bottom: 73px;
    flex: 0 1 789px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    @media (max-width: 1365px) {
      flex: 0 1 auto;
    }
    @media (max-width: 991px) {
      padding: 89px 74px 79px 44px;
    }
    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 31px;
      width: 100%;
    }
  }
  &__box2 {
    background: #C9E2FF;
    padding-left: 45px;
    padding-top: 70px;
    padding-right: 45px;
    padding-bottom: 46px;
    flex: 0 1 528px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 1365px) {
      flex: 0 1 auto;
    }
    @media (max-width: 991px) {
      padding: 70px 40px 83px 40px;
    }
    @media (max-width: 767px) {
      padding-top: 23px;
      padding-bottom: 32px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__text1 {
    font-size: 40px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.7);
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__text2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 28px;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 21px;
    }
  }
  &__list {
    margin-bottom: 99px;
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
    @media (max-width: 767px) {
      margin-bottom: 36px;
    }
  }
  &__item {
    font-size: 30px;
    line-height: 135%;
    color: rgba(255, 255, 255, 0.7);
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  &__price1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 4px;
    }
  }
  &__text3 {
    font-size: 34px;
    line-height: 135%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 28px;
    @media (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  &__price2 {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 4px;
    }
    &--line {
      &::before {
        position: absolute;
        display: block;
        content: "";
        background: #E64B52;
        transform: rotate(12.8deg);
        width: 84px;
        height: 2px;
        top: 50%;
        left: -14px;
        @media (max-width: 767px) {
          left: 0;
        }
      }
    }
  }
  &__box3 {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__box4 {
    display: flex;
    flex-direction: column;
    & + & {
      margin-left: 23px;
      @media (max-width: 991px) {
        margin-left: 30px;
      }
      @media (max-width: 767px) {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
  &__text4 {
    font-size: 22px;
    line-height: 135%;
    color: rgba(255, 255, 255, 0.7);
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &__text5 {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #0C1E42;
    margin-bottom: 28px;
    // display: block;
    @media (max-width: 991px) {
      text-align: center;
      line-height: 50px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 18px;
      max-width: 209px;
      align-self: center;
      margin-bottom: 13px;
    }
  }
  &__text6 {
    font-size: 24px;
    line-height: 135%;
    color: #1A3788;
    @media (max-width: 767px) {
      font-size: 16px;
    }
    & + & {
      margin-top: 20px;
    }
    span {
      color: #E64B52;
    }
  }
  &__btn {
    margin-top: 50px;
    width: 365px;
    align-self: center;
    @media (max-width: 767px) {
      margin-top: 24px;
      width: 340px;
    }
  }
}