.countdown {
  margin-bottom: 123px;
  @media (max-width: 991px) {
    margin-bottom: 41px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: #1A3788;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      line-height: 50px;
      margin-bottom: 55px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 26px;
      max-width: 219px;
      margin-bottom: 29px;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    & + & {
      margin-left: 20px;
      @media (max-width: 991px) {
        margin-left: 30px;
      }
      @media (max-width: 767px) {
        margin-left: 8px;
      }
    }
  }
  &__digit {
    font-weight: 500;
    font-size: 68px;
    line-height: 80px;
    color: #0C1E42;
    width: 169px;
    height: 169px;
    border-radius: 50%;
    background-color: #C9E2FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      width: 150px;
      height: 150px;
    }
    @media (max-width: 767px) {
      width: 80px;
      height: 80px;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 8px;
    }
  }
  &__label {
    font-size: 24px;
    line-height: 28px;
    color: #0C1E42;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 13px;
    }
  }
}