.foryou {
  $this: &;
  &__container {
    
    @media (max-width: 767px) {
      padding-left: 0;
    padding-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    // font-weight: bold;
    // font-size: 50px;
    // line-height: 65px;
    // color: #1A3788;
    margin-bottom: 50px;
    // span {
    //   color: #E64B52;
    // }
    @media (max-width: 767px) {
      margin-bottom: 18px;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    @media (max-width: 991px) {
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__item {
    flex: 1 1 426px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 40px;
    padding-bottom: 50px;
    @media (max-width: 1365px) {
      flex: 1 1 100%;
      margin-top: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      flex-direction: column;
      padding: 28px 40px;
      height: 268px;
    }
    @media (max-width: 767px) {
      margin-top: 0;
      padding: 22px 20px 30px 20px;
      height: auto;
    }
    &:nth-child(1) {
      margin-right: 20px;
      background: #EAF4FF;
      @media (max-width: 1365px) {
        margin-right: 0;
      }
    }
    &:nth-child(2) {
      margin-right: 20px;
      background: #C9E2FF;
      @media (max-width: 1365px) {
        margin-right: 0;
      }
      @media (max-width: 767px) {
        margin-top: 10px;
      }
    }
    &:nth-child(3) {
      background: #A2CBFC;
      @media (max-width: 767px) {
        margin-top: 10px;
      }
    }
    &:nth-child(4) {
      flex: 1 1 100%;
      margin-top: 20px;
      background: #1A3788;
      display: flex;
      @media (max-width: 767px) {
        margin-top: 0;
      }
      @media (max-width: 767px) {
        margin-top: 10px;
      }
      #{$this}__role {
        color: #ffffff;
        min-height: auto;
        margin-bottom: 0;
        margin-right: 42px;
        flex-shrink: 0;
        max-width: 326px;
        @media (max-width: 991px) {
          font-size: 40px;
          line-height: 44px;
          max-width: none;
          margin-right: 0;
          margin-bottom: 18px;
        }
        @media (max-width: 767px) {
          font-size: 22px;
          line-height: 110%;
          margin-bottom: 12px;
        }
      }
      #{$this}__text {
        color: #ffffff;
        max-width: 804px;
        @media (max-width: 991px) {
          max-width: none;
        }
      }
    }
  }
  &__role {
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1A3788;
    min-height: 132px;
    display: block;
    margin-bottom: 20px;
    @media (max-width: 1365px) {
      min-height: auto;
      margin-bottom: 0;
      margin-right: 42px;
      flex-shrink: 0;
      max-width: 326px;
    }
    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 44px;
      max-width: none;
      margin-right: 0;
      margin-bottom: 18px;
    }
    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 110%;
      margin-bottom: 12px;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 135%;
    color: #1A3788;
    @media (max-width: 1365px) {
      max-width: 804px;
    }
    @media (max-width: 991px) {
      max-width: none;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__btn {
    width: 313px;
    @media (max-width: 991px) {
      padding: 18px;
    }
    @media (max-width: 767px) {
      width: 340px;
    }
  }
}