.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  &--bg {
    background-image: url("../assets/images/modal_plan_bg2.png");
    background-repeat: no-repeat;
    // background-position: 117px 114px;
    background-position: 107px 115px;
    background-size: 270px;
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color: #1A3788;
    margin-bottom: 25px;
    max-width: 440px;
    &--wide {
      max-width: 100%;
    }
  }
  &__form {
    // display: block;
    width: 447px;
    // flex: 0 0 447px;
    display: flex;
    flex-direction: column;
    &--ml {
      margin-left: 529px;
      flex-shrink: 0;
    }
  }
  &__input {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1A3788;
    font-size: 20px;
    line-height: 135%;
    color: #1A3788;
    margin-bottom: 38px;
    &::placeholder {
      transition: all 0.2s ease;
      color: rgba(#1A3788, 0.7);
    }
    &:hover {
      @media (min-width: 1280px) {
        &::placeholder {
          color: rgba(#1A3788, 1);
        }
      }
    }
    // & + & {
    //   margin-top: 38px;
    // }
  }
  &__box2 {
    // background-color: $temp4;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
  }
  &__checkbox {
    margin-right: 20px;
    cursor: pointer;
  }
  &__label {
    max-width: 378px;
    font-size: 14px;
    line-height: 16px;
    color: #1A3788;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      @media (min-width: 1280px) {
	      color: #E64B52;
      }
    }
  }
  &__link {
    transition: all 0.2s ease;
    font-size: 14px;
    line-height: 16px;
    color: #1A3788;
    text-decoration: underline;
    &:hover {
      @media (min-width: 1280px) {
	      color: #E64B52;
      }
    }
  }
  &__btn {
    width: 100%;
    padding: 18px;
    // align-self: center;
  }
  // &__box1 {

  // }
  // &__image {

  // }
  &__text {
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 7px;
  }
}