.recall {
  padding-top: 71px;
  padding-bottom: 71px;
  background-color: #1A3788;
  &__container {
    
  }
  &__form {
    display: flex;
    align-items: center; 
    // background-color: $temp1;
    justify-content: center;
    @media (max-width: 1365px) {
      flex-direction: column;
    }
  }
  &__input {
    flex: 0 1 426px;
    padding: 14px 25px;
    background: rgba(255, 255, 255, 0.41);
    border: none;
    border-radius: 50px;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    // width: 426px;
    margin-right: 20px;
    // transition: all 0.2s ease;
    @media (max-width: 1365px) {
      flex: 0 1 auto;
      margin-right: 0;
      margin-bottom: 20px;
      width: 400px;
    }
    &::placeholder {
      color: rgba(#FFFFFF, 0.5);
      // transition: all 0.2s ease;
    }
    &:hover, &:active {
      @media (min-width: 1280px) {
        &::placeholder {
          color: rgba(#FFFFFF, 1);
        }
      }
      
    }
  }
  &__btn {
    flex: 0 1 301px;
    padding: 18px;
    width: 301px;
    background-color: #ffffff;
    color: #1A3788;
    margin-right: 34px;
    @media (max-width: 1365px) {
      flex: 0 1 auto;
      margin-right: 0;
      width: 400px;
    }
    &:hover {
      @media (min-width: 1280px) {
	      background: #dddddd;
      }
      
    }
//     font-size: 20px;
// line-height: 150%;
  }
  &__text {
    flex: 0 1 386px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    @media (max-width: 1365px) {
      order: -1;
      flex: 0 1 auto;
      margin-bottom: 30px;
    }
  }
}