.result {
  padding-top: 170px;
  margin-bottom: 85px;
  @media (max-width: 991px) {
		padding-top: 120px;
  }
  @media (max-width: 767px) {
    padding-top: 45px;
    margin-bottom: 45px;
	}
  &__container {

  }
  &__box1 {
    // background-color: $temp6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    @media (max-width: 1365px) {
      flex-direction: column;
    }
    @media (max-width: 991px) {
      margin-bottom: 90px;
    }
    @media (max-width: 767px) {
      margin-bottom: 106px;
    }
  }
  &__title {
    flex: 0 1 50%;
    max-width: 549px;
    margin-top: 96px;
    @media (max-width: 1365px) {
      max-width: none;
      margin-bottom: 39px;
    }
    @media (max-width: 991px) {
      margin-top: 0;
    }
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  &__box2 {
    // background-color: $temp4;
    flex: 0 1 50%;
  }
  &__page {
    font-size: 40px;
    line-height: 135%;
    color: #1A3788;
    margin-bottom: 30px;
    span {
      font-weight: bold;
      font-size: 100px;
    }
  }
  &__text1 {
    font-size: 30px;
    line-height: 135%;
    color: #1A3788;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__arrows {
    margin-top: 20px;
    display: flex;
  }
  &__arrow {
    width: 56px;
    height: 56px;
    // background-color: $temp1;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url("../assets/images/arrow_icon.svg");
    // background-size: 26px;
    // background-repeat: no-repeat;
    // background-position: center;
    transition: all 0.2s ease;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      @media (min-width: 1280px) {
        background-color: #E64B52;
        svg {
          fill: #ffffff;
        }
      }
      
    }
    svg {
      width: 26px;
      fill: #1A3788;
    }
    &--prev {
      margin-right: 23px;
      transform: rotate(180deg);
    }
    &--next {
    
    }
  }
  &__text2 {
    // background-color: $temp5;
    border: 4px solid #E64B52;
    text-align: center;
    padding: 30px 133px;
    font-weight: 500;
    font-size: 35px;
    line-height: 135%;
    color: #1A3788;
    @media (max-width: 1365px) {
      padding: 30px 0;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      padding: 15px 21px;
    }
    // @media (max-width: 991px) {
    //   padding: 32px 17px;
    // }
  }
}

//slick fixes
.slick-list {
  padding-top: 20px;
}