.solution {
  padding-top: 211px;
  padding-bottom: 145px;
  background-image: url("../assets/images/solution_bg.svg");
  background-repeat: no-repeat;
  background-position: center 0;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #0C1E42;
    max-width: 1026px;
    margin-bottom: 105px;
  }
  &__box1 {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    flex: 0 1 511px;
  }
  &__box2 {
    flex: 0 1 613px;
  }
  &__text2 {
    font-size: 30px;
    line-height: 135%;
    color: #1A3788;
    & + & {
      margin-top: 30px;
    }
  }
}