.video-how {
  // background-color: $temp1;
  margin-bottom: 80px;
  background-image: url("../assets/images/video_how_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 991px) {
		margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    background-size: 350px;
    background-position: center 165px;
    margin-top: -50px;
	}
  &__container {
    display: flex;
    justify-content: center;
  }
  &__video {
    width: 1023px;
    height: 737px;
    // background-image: url("../assets/images/video_how_bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      height: 420px;
    }
  }
  &__btn {
    margin-top: -100px;
    cursor: pointer;
    margin-bottom: 33px;
    background: url("../assets/images/play_red_icon.svg");
    width: 120px;
    height: 120px;
    font-size: 0;
    // border-radius: 50%;
    border: none;
    transition: all 0.2s ease;
    @media (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 0;
      width: 84px;
      height: 84px;
      background-size: contain;
    }
    &:hover {
      @media (min-width: 1280px) {
	      filter: brightness(1.5);
      }
    }
  }
  &__text {
    max-width: 517px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 26px;
      color: #1A3788;
      margin-bottom: 66px;
    }
  }
}