.action {
  margin-top: 184px;
  color: #FFFFFF;
  position: relative;
  z-index: 10;
  padding-top: 62px;
  padding-bottom: 38px;
  background-color: #091836;
  @media (max-width: 991px) {
		margin-top: 80px;
  }
  @media (max-width: 767px) {
		margin-top: 60px;
	}
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    @media (max-width: 1365px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      font-size: 35px;
      text-align: center;
    }
  }
  &__text5 {
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 70px;
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: center;
      max-width: 250px;
    }
  }
  &__box1 {
    flex: 0 1 447px;
    margin-right: 213px;
    @media (max-width: 1365px) {
      flex: 0 1 auto;
      margin-right: 0;
      width: 100%;
      max-width: 490px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    @media (max-width: 767px) {
      max-width: 355px;
    }
  }
  &__box2 {
    display: flex;
    align-items: center;
    border-left: 1px solid #FFFFFF;
    position: relative;
    flex: 0 1 650px;
    padding-left: 172px;
    @media (max-width: 1365px) {
      flex: 0 1 auto;
      padding-left: 0;
      border-left: none;
      margin-bottom: 50px;
      border-bottom: 1px solid #FFFFFF;
      width: 100%;
      max-width: 740px;
      justify-content: center;
      padding-bottom: 50px;
    }
    @media (max-width: 991px) {
      max-width: 610px;
    }
    @media (max-width: 767px) {
      max-width: 355px;
    }
  }
  &__text1 {
    padding-left: 30px;
    font-size: 30px;
    line-height: 130%;
    max-width: 416px;
    position: relative;
    border-left: 6px solid #E64B52;
    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 130%;
      max-width: 320px;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 99px;
      height: 99px;
      background-image: url("../assets/images/action_bg_01.svg");
      background-repeat: no-repeat;
      top: -7px;
      right: -37px;
      @media (max-width: 767px) {
        width: 70px;
        height: 70px;
        background-size: contain;
        right: -19px;
        top: -5px;
        display: none;
      }
    }
  }
    
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-size: 20px;
    line-height: 135%;
    color: #FFFFFF;
    margin-bottom: 38px;
    @media (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &::placeholder {
      transition: all 0.2s ease;
      color: rgba(#ffffff, 0.7);
    }
    &:hover {
      @media (min-width: 1280px) {
        &::placeholder {
          color: rgba(#ffffff, 1);
        }
      }
    }
  }
  &__box3 {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }
  &__checkbox {
    flex-shrink: 0;
    margin-right: 20px;
    cursor: pointer;
    @media (max-width: 991px) {
      margin-right: 15px;
    }
  }
  &__label {
    position: relative;
    top: 2px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;
    @media (max-width: 991px) {
      font-size: 12px;
      line-height: 16px;
    }
    &:hover {
      @media (min-width: 1280px) {
	      color: #E64B52;
      }
    }
  }
  &__btn {
    max-width: 298px;
    align-self: center;
  }
  &__list {
    margin-bottom: 35px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    & + & {
      margin-top: 17px;
    }
  }
  &__num {
    opacity: 0.8;
    position: relative;
    top: -10px;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    flex-shrink: 0;
    margin-right: 15px;
  }
  &__text4 {
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
  }
  &__link {
    transition: all 0.2s ease;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: underline;
    @media (max-width: 991px) {
      font-size: 12px;
      line-height: 16px;
    }
    &:hover {
      @media (min-width: 1280px) {
	      color: #E64B52;
      }
    }
  }
}