.cashback {
  position: relative;
  max-width: 490px;
  background-color: #EEF0FB;
  padding: 143px 65px 22px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 767px) {
    max-width: none;
    width: calc(100% + 20px);
    padding-top: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  &__decor {
    background-image: url("../assets/images/cashback_bg_01.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 264px;
    height: 264px;
    top: -105px;
    @media (max-width: 767px) {
      width: 202px;
      height: 202px;
      background-size: contain;
      top: -67px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 151.4%;
    text-transform: uppercase;
    color: #091836;
    @media (max-width: 767px) {
      font-size: 20px;
      text-align: center;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 125.2%;
    text-align: center;
    color: #091836;
    @media (max-width: 767px) {
      font-size: 15px;
      max-width: 300px;
    }
  }
}