.desc {
  padding-top: 120px;
  padding-bottom: 70px;
  background: url("../assets/images/desc_bg_01.svg") 0 0 no-repeat;
  color: #091836;
  // background-color: $temp5;
  &__container {
    // background-color: $temp1;
    display: flex;
    @media (max-width: 1365px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__box1 {
    // background-color: $temp2;
    flex: 0 0 795px;
    margin-right: 105px;
    @media (max-width: 1720px) {
      flex: 0 1 50%;
      margin-right: 20px;
    }
    @media (max-width: 1365px) {
     margin-right: 0;
    }
  }
  &__box2 {
    // background-color: $temp3;
    // padding-top: 145px;
    flex: 0 0 580px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    // justify-content: center;
    @media (max-width: 1720px) {
      // flex: 0 1 50%;
    }
    @media (max-width: 1365px) {
      max-width: 580px;
      flex: 0 1 auto;
    }
    
  }
  &__image {
    position: absolute;
    // text-align: center;
    line-height: 0;
    margin-bottom: 40px;
    right: 0;
    top: 105px;
    @media (max-width: 1365px) {
      top: 0;
    }
    img {
      // position: absolute;
      // float: right;
      // top: 0;
    }
    
  }
  &__text1 {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;
  }
  &__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 150%;
    margin-bottom: 40px;
  }
  &__list {

  }
  &__item {
    display: flex;
    align-items: center;
    & + & {
      margin-top: 45px;
    }
  }
  &__num {
    display: block;
    font-weight: 900;
    font-size: 80px;
    line-height: 131.5%;
    // width: 75px;
    flex: 0 0 75px;
    // background-color: $temp4;
    text-align: center;
    border-right: 3px solid #091836;
    margin-right: 28px;
  }
  &__text2 {
    // background-color: $temp5;
    font-size: 24px;
    line-height: 130%;
    
  }
  &__text3 {
    margin-top: 250px;
    font-weight: 600;
    font-size: 54px;
    line-height: 47px;
    @media (max-width: 1365px) {
      margin-top: 130px;
    }
    // background-color: $temp1;
    // position: relative;
    // font-weight: 600;
    // font-size: 45px;
    // font-size: 40px;
    // line-height: 1;
    // margin-bottom: 63px;
    // text-align: center;
    // max-width: 340px;
    // span {
    //   &:nth-child(1) {
    //     font-size: 55px;
    //   }
    //   &:nth-child(2) {
    //     font-size: 67px;
    //   }
    // }
  }
  // &__image {
  //   line-height: 0;
  //   float: right;
  //   img {
      
  //   }
  // }
  &__text4 {
    // background-color: $temp2;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
  }
  &__text5 {
    // background-color: $temp3;
    font-weight: 600;
    font-size: 67px;
    line-height: 50px;
  }
  &__text6 {
    // background-color: $temp4;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
  }
  &__text7 {
    // background-color: $temp5;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 63px;
  }
  &__btn {
    max-width: 272px;
    align-self: center;
  }
}