.discount {
  background-color: #E64B52;
  &__container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1365px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 767px) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  &__value {
    font-weight: 600;
    font-size: 46px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    display: block;
    flex-shrink: 0;
    max-width: 167px;
    @media (max-width: 1365px) {
      order: 2;
      margin-right: 0px;
      font-size: 28px;
      letter-spacing: -0.03em;
    }
    @media (max-width: 991px) {
      max-width: 100px;
      margin-right: 55px;
    }
    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 15px;
      margin-right: 15px;
    }
    span {
      font-weight: 600;
      font-size: 72px;
      letter-spacing: -0.03em;
      @media (max-width: 1365px) {
        font-size: 45px;
        line-height: 1;
      }
    }
  }
  &__title {
    flex-shrink: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 652px;
    letter-spacing: -0.05em;
    @media (max-width: 1365px) {
      order: 1;
      max-width: 100%;
      flex: 1 1 100%;
      text-align: center;
    }
    @media (max-width: 991px) {
      font-size: 23px;
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__btn {
    max-width: 355px;
    padding: 14px;
    @media (max-width: 1365px) {
      order: 3;
      padding: 20px;
    }
    @media (max-width: 767px) {
      max-width: 230px;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}