.first {
  color: #ffffff;
  max-width: 490px;
  padding: 55px 60px 40px 60px;
  background-color: #091836;
  position: relative;
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    padding: 55px 30px 30px 30px;
    align-items: center;
  }
  &__text1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E64B52;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    padding: 13px 18px;
    display: block;
    width: calc(100% - 120px);
    @media (max-width: 767px) {
      width: 100%;
      max-width: 355px;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 34px;
    @media (max-width: 767px) {
      font-size: 25px;
      margin-bottom: 32px;
      text-align: center;
    }
  }
  &__text2 {
    font-size: 19px;
    line-height: 150%;
    margin-bottom: 82px;
    b {
      color: #E64B52;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      max-width: 180px;
      text-align: center;
      margin-bottom: 32px;
    }
  }
  &__text3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 107px;
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      margin-bottom: 60px;
    }
    span {
      color: #E64B52;
      font-weight: 600;
    }
  }
  &__btn {
    max-width: 272px;
    align-self: center;
  }
}