.foryou {
  $this: &;
  padding-top: 120px;
  padding-bottom: 131px;
  @media (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #E64B52;
    margin-bottom: 87px;
    @media (max-width: 991px) {
      margin-bottom: 80px;
    }
    @media (max-width: 767px) {
      font-size: 31px;
      line-height: 31px;
      margin-bottom: 30px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__item {
    flex: 1 1 45%;
    display: flex;
    align-items: center;
    @media (max-width: 1365px) {
      flex-direction: column;
    }
    @media (max-width: 767px) {
      margin-bottom: 30px !important;
      &:nth-child(3) {
        order: 1;
      }
      &:nth-child(4) {
        order: 2;
      }
      &:nth-child(2) {
        order: 3;
      }
    }
    &:nth-child(odd) {
      margin-right: 45px;
      @media (max-width: 991px) {
        margin-right: 58px;
      }
      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
    &:nth-child(-n + 2) {
      margin-bottom: 84px;
      @media (max-width: 1365px) {
        margin-bottom: 30px;
      }
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }
    &:nth-child(3n + 1) {
      #{$this}__role {
        background-color: #091836;
      }
    }
  }
  &__role {
    text-transform: uppercase;
    align-self: stretch;
    color: #ffffff;
    flex: 0 0 251px;
    background-color: #4B5E93;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-right: 22px;
    display: flex;
    align-items: center;
    padding-left: 22px;
    @media (max-width: 1365px) {
      margin-right: 0;
      flex: 0 0 120px;
      margin-bottom: 25px;
    }
    @media (max-width: 991px) {
      padding-left: 30px;
    }
    @media (max-width: 767px) {
      padding-left: 18px;
      flex: 0 1 86px;
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 15px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 24px;
    @media (max-width: 1365px) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}