.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #4B5E93;
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 1365px) {
      max-width: 960px;
      margin: 0 auto;
    }
    @media (max-width: 991px) {
      max-width: 768px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__logo {
    line-height: 0;
    margin-left: 70px;
    margin-right: 25px;
    padding-right: 27px;
    border-right: 1px solid #ffffff;
    @media (max-width: 1365px) {
      margin-left: 0;
    }
    @media (max-width: 767px) {
      width: 90px;
      height: 50px;
      padding-right: 19px;
      margin-right: 17px;
      display: flex;
      align-items: center;
    }
  }
  &__text1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-right: 62px;
    @media (max-width: 991px) {
      margin-right: 25px;
    }
  }
  &__text2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-right: 17px;
    @media (max-width: 991px) {
      font-size: 17px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__text3 {
    margin-left: 45px;
    padding-left: 12px;
    position: relative;
    background-color: #EEF0FB;
    color: #4B5E93;
    display: block;
    font-weight: 600;
    padding-right: 15px;
    border-radius: 0px 5px 5px 0px;
    height: 45px;
    display: flex;
    justify-content: center;align-items: center;
    @media (max-width: 767px) {
      display: none;
    }
    &::before {
      top: 0;
      position: absolute;
      left: -41px;
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      background: url("../assets/images/header_decor_01.svg") center no-repeat;
    }
  }
  &__sandwich {
    display: none;
    width: 34px;
    height: 21px;
    margin-left: auto;  
    margin-right: calc((100vw - 1320px) / 2);
    cursor: pointer;
    @media (max-width: 1365px) {
      margin-right: 0;
      display: block;
    }
    &:hover {
      @media (min-width: 1280px) {
        svg {
          fill: #091836;
        }
      }
    }
    svg {
      transition: all 0.2s ease;
      fill: #ffffff;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-right: 30px;
    margin-left: auto;  
    @media (max-width: 1365px) {
      display: none;
    }
    &:hover {
      @media (min-width: 1280px) {
        text-decoration: underline;
        color: #dddddd;
      }
    }
  }
  &__btn {
    width: 270px;
    font-size: 18px;
    margin-right: calc((100vw - 1320px) / 2);
    @media (max-width: 1365px) {
      display: none;
    }
  }
}