.how {
  padding-top: 125px;
  padding-bottom: 125px;
  margin-top: -160px;
  transform: skewY(-3deg);
  background-color: #091836;
  @media (max-width: 767px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  &__container {
    transform: skewY(3deg);
    display: flex;
    @media (max-width: 1365px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__box1 {
    flex: 0 1 50%;
    @media (max-width: 767px) {
      flex: 0 1 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__box2 {
    flex: 0 1 50%;
    padding-left: 200px;
    padding-top: 30px;
    @media (max-width: 1365px) {
      padding-left: 0;
      padding-top: 0;
      margin-top: 100px;
    }
    @media (max-width: 767px) {
      margin-top: 70px;
    }
  }
  &__video {
    width: 643px;
    height: 347px;
    background-image: url("../assets/images/how_bg_01.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    @media (max-width: 767px) {
      width: 100%;
      max-width: 360px;
      height: 186px;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 25px;
    }
  }
  &__play {
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      @media (min-width: 1280px) {
        filter: brightness(0.85);
      }
    }
    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
      padding: 0;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
  &__text1 {
    max-width: 313px;
    font-weight: 600;
    font-size: 50px;
    line-height: 35px;
    color: #ffffff;
    position: relative;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 1;
      max-width: 355px;
      text-align: center;
      > * {
        font-size: 30px !important;
        line-height: 1 !important;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 172px;
      height: 88px;
      border-right: 10px dashed #4B5E93;
      border-bottom: 10px dashed #4B5E93;
      right: -202px;
      top: -20px;
      @media (max-width: 767px) {
        display: none;
      }
    }
    .m1 {
      font-size: 35px;
      line-height: 45px;
    }
    .m2 {
      color: #E64B52;
    }
  }
  &__text2 {
    max-width: 369px;
    color: #ffffff;
    font-weight: 600;
    font-size: 29.7px;
    line-height: 32px;
    margin-bottom: 45px;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 1;
      max-width: 355px;
      margin-bottom: 65px;
      > * {
        font-size: 24px !important;
        line-height: 1 !important;
      }
    }
    .m1 {
      font-size: 41px;
    }
    .m2 {
      font-size: 35px;
    }
    .m3 {
      font-size: 36.9px;
    }
  }
  &__btn {
    max-width: 369px;
  }
}