.modal-discount {
  color: #091836;
  display: none;
  &__content {
    background-image: url("../assets/images/modal_discount_bg_01.svg");
    background-repeat: no-repeat;
    background-position: 44px 80%;
    background-size: 160px;
    position: relative;
    padding: 47px 100px 47px 100px;
    display: flex;
    border-radius: 20px;
    background-color: #ffffff;
    @media (max-width: 1365px) {
      padding: 65px 75px 46px 75px;
      flex-direction: column;
      background-position: 83% 36%;
      background-size: 210px;
    }
    @media (max-width: 767px) {
      padding: 57px 29px 37px 29px;
      max-width: 345px;
      background-position: 85% 213px;
      background-size: 93px;
    }
  }
  &__close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    &:before, &::after {
      position: absolute;
      display: block;
      content: "";
      width: 32px;
      height: 4px;
      background-color: #091836;
      border-radius: 2px;
      left: 50%;
      top: 50%;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
      @media (min-width: 1280px) {
        &::before, &::after {
          background-color: #E64B52;
        }
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    margin-bottom: 25px;
    max-width: 100%;
    @media (max-width: 767px) {
      font-size: 25px;
    }
  }
  &__form {
    border-left: 1px solid #091836;
    width: 447px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    flex-shrink: 0;
    @media (max-width: 1365px) {
      width: 100%;
      padding-left: 0;
      border-left: none;
    }
  }
  &__input {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1A3788;
    font-size: 20px;
    line-height: 135%;
    margin-bottom: 38px;
    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 20px;
    }
    &::placeholder {
      transition: all 0.2s ease;
      color: rgba(#091836, 0.7);
    }
    &:hover {
      @media (min-width: 1280px) {
        &::placeholder {
          color: rgba(#091836, 1);
        }
      }
    }
  }
  &__box2 {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    @media (max-width: 767px) {
      margin-bottom: 23px;
    }
  }
  &__checkbox {
    flex-shrink: 0;
    margin-right: 20px;
    cursor: pointer;
  }
  &__label {
    max-width: 378px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    @media (max-width: 767px) {
      font-size: 9px;
      line-height: 16px;
    }
    &:hover {
      @media (min-width: 1280px) {
        color: #E64B52;
      }
    }
  }
  &__link {
    transition: all 0.2s ease;
    font-size: 14px;
    line-height: 16px;
    color: #091836;
    text-decoration: underline;
    @media (max-width: 767px) {
      font-size: 9px;
      line-height: 16px;
    }
    &:hover {
      @media (min-width: 1280px) {
        color: #E64B52;
      }
    }
  }
  &__btn {
    padding: 18px;
    @media (max-width: 767px) {
      font-size: 15px;
      padding: 13px;
      max-width: 240px;
      align-self: center;
    }
  }
  &__text1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 135%;
    margin-bottom: 5px;
    @media (max-width: 1365px) {
      font-size: 35px;
    }
    @media (max-width: 767px) {
      font-size: 25px;
      line-height: 135%;
      margin-bottom: 4px;
      text-align: center;
    }
  }
  &__box1 {
    flex: 0 1 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1365px) {
      padding-right: 0;
      padding-bottom: 190px;
    }
    @media (max-width: 767px) {
      align-items: center;
      padding-bottom: 65px;
    }
  }
  &__text2 {
    font-size: 20px;
    line-height: 135%;
    max-width: 255px;
    margin-bottom: 20px;
    @media (max-width: 1365px) {
      margin-bottom: 11px;
    }
    @media (max-width: 767px) {
      font-size: 17px;
      text-align: center;
    }
  }
  &__text3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 120%;
    max-width: 302px;
    text-align: center;
    margin-bottom: 19px;
    @media (max-width: 1365px) {
      font-size: 28px;
      line-height: 135%;
      margin-bottom: 7px;
      max-width: 310px;
    }
    @media (max-width: 767px) {
      font-size: 23px;
      margin-bottom: 10px;
    }
    span {
      color: #E64B52;
    }
  }
  &__text4 {
    font-size: 30px;
    line-height: 135%;
    font-weight: 600;
    text-align: right;
    @media (max-width: 1365px) {
      text-align: left;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      align-self: flex-start;
    }
    span {
      color: #E64B52;
    }
  }
}