.modal-program {
  color: #091836;
  display: none;
  &__content {
    position: relative;
    padding: 70px 105px 70px 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    @media (max-width: 1365px) {
      padding: 65px 75px 46px 75px;
      max-width: 618px;
    }
    @media (max-width: 767px) {
      padding: 57px 29px 37px 29px;
      max-width: 345px;
    }
  }
  &__close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    &:before, &::after {
      position: absolute;
      display: block;
      content: "";
      width: 32px;
      height: 4px;
      background-color: #091836;
      border-radius: 2px;
      left: 50%;
      top: 50%;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
      @media (min-width: 1280px) {
        &::before, &::after {
          background-color: #E64B52;
        }
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    margin-bottom: 25px;
    max-width: 100%;
    @media (max-width: 1365px) {
      font-size: 26px;
      line-height: 135%;
    }
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
  &__form {
    width: 447px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__input {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1A3788;
    font-size: 20px;
    line-height: 135%;
    margin-bottom: 38px;
    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 20px;
    }
    &::placeholder {
      transition: all 0.2s ease;
      color: rgba(#091836, 0.7);
    }
    &:hover {
      @media (min-width: 1280px) {
        &::placeholder {
          color: rgba(#091836, 1);
        }
      }
    }
  }
  &__box2 {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    @media (max-width: 767px) {
      margin-bottom: 23px;
    }
  }
  &__checkbox {
    flex-shrink: 0;
    margin-right: 20px;
    cursor: pointer;
  }
  &__label {
    max-width: 378px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    @media (max-width: 767px) {
      font-size: 9px;
      line-height: 16px;
    }
    &:hover {
      @media (min-width: 1280px) {
        color: #E64B52;
      }
    }
  }
  &__link {
    transition: all 0.2s ease;
    font-size: 14px;
    line-height: 16px;
    color: #091836;
    text-decoration: underline;
    @media (max-width: 767px) {
      font-size: 9px;
      line-height: 16px;
    }
    &:hover {
      @media (min-width: 1280px) {
        color: #E64B52;
      }
    }
  }
  &__btn {
    padding: 18px;
    @media (max-width: 767px) {
      font-size: 15px;
      padding: 13px;
      max-width: 240px;
      align-self: center;
    }
  }
  &__box1 {
    display: flex;
    @media (max-width: 1365px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__image {
    width: 296px;
    height: 407px;
    background-image: url("../assets/images/modal_plan_bg2.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 147px;
    @media (max-width: 1365px) {
      margin-right: 0;
      width: 234px;
      height: 321px;
      margin-bottom: 45px;
    }
    @media (max-width: 767px) {
      width: 130px;
      height: 180px;
      margin-bottom: 25px;
    }
  }
  &__text {
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 7px;
    @media (max-width: 1365px) {
      font-size: 26px;
      line-height: 135%;
      text-align: center;
    }
    @media (max-width: 767px) {
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}