.money {
  margin-top: 60px;
  @media (max-width: 991px) {
    margin-top: 35px;
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #02112E;
    margin-bottom: 80px;
    @media (max-width: 767px) {
      font-size: 27px;
      line-height: 27px;
      margin-bottom: 65px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 1015px;
    @media (max-width: 1365px) {
      height: auto;
      align-items: center;
      align-content: center;
    }
  }
  &__cost {
    @media (max-width: 1365px) {
      order: 1;
      margin-bottom: 50px;
    }
    @media (max-width: 991px) {
      margin-bottom: 75px;
    }
  }
  &__countdown {
    @media (max-width: 1365px) {
      order: 4;
    }
  }
  &__first {
    @media (max-width: 1365px) {
      order: 2;
      margin-bottom: 100px;
    }
    @media (max-width: 767px) {
      margin-bottom: 85px;
    }
  }
  &__cashback {
    @media (max-width: 1365px) {
      order: 3;
      margin-bottom: 50px;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}