.program {
  padding-bottom: 290px;
  $this: &;
  background-image: url("../assets/images/program_bg_02.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 430px) 100%;
  @media (max-width: 1365px) {
    background-position: 15px 100%;
  }
  @media (max-width: 991px) {
    padding-bottom: 340px;
  }
  @media (max-width: 767px) {
    background-size: 210px auto;
    background-position: 50% calc(100% - 70px);
    padding-bottom: 360px;
  }
  &__box2 {
    background-color: #091836;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-image: url("../assets/images/program_bg_01.svg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    margin-bottom: 76px;
    @media (max-width: 991px) {
      background-position: calc(100% + 155px) 0;
    }
    @media (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
      background-position: center;
      background-size: cover;
      margin-bottom: 60px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 28px;
    }
  }
  &__container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__btn {
    align-self: center;
    max-width: 400px;
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
  &__list {
    margin-left: 82px;
    margin-bottom: 120px;
    @media (max-width: 1365px) {
      margin-left: 5px;
    }
    @media (max-width: 991px) {
      margin-bottom: 55px;
    }
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  &__item {
    padding-left: 70px;
    display: flex;
    align-items: flex-start;
    position: relative;
    @media (max-width: 991px) {
      flex-direction: column;
      padding-left: 65px;
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 70px;
      background-color: #4B5E93;
      transform: translateX(-50%);
      left: 0;
      z-index: -1;
      @media (max-width: 991px) {
        top: -45px;
      }
    }
    &::after {
      transform: translateX(-50%);
      content: "";
      position: absolute;
      width: 2px;
      height: calc(100% - 70px);
      background-color: #4B5E93;
      left: 0;
      top: 70px;
      z-index: -1;
      @media (max-width: 991px) {
        top: 30px;
      }
    }
    & + & {
      #{$this}__box1 {
        border-top: 1px solid #091836;
        @media (max-width: 991px) {
          border-top: none;
        }
      }
    }
  }
  &__box1 {
    padding-bottom: 50px;
    padding-top: 50px;
    flex: 0 0 713px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 44px;
    @media (max-width: 1365px) {
      flex: 0 1 621px;
    }
    @media (max-width: 991px) {
      flex: 0 1 auto;
      border-top: none;
      padding-left: 0;
    }
    @media (max-width: 767px) {
      padding-top: 33px;
      padding-bottom: 33px;
    }
  }
  &__num {
    position: relative;
    flex: 0 0 213px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 35px;
    line-height: 1;
    color: #ffffff;
    background-color: #091836;
    padding: 11px 0;
    margin-right: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 991px) {
      flex: 0 1 auto;
      margin-right: 0;
      margin-top: 0;
      padding-left: 25px;
      padding-right: 25px;
      width: 100%;
      max-width: 230px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      max-width: 155px;
    }
     p {
       max-width: 180px;
     }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #4B5E93;
      top: 28px;
      left: -70px;
      z-index: -1;
      @media (max-width: 991px) {
        left: -65px;
      }
      @media (max-width: 767px) {
        top: 20px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #091836;
      top: 21px;
      transform: translate(-50%);
      left: -70px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      @media (max-width: 991px) {
        left: -65px;
      }
      @media (max-width: 767px) {
        top: 14px;
      }
    }
  }
  &__name {
    font-size: 24px;
    line-height: 150%;
    color: #091836;
    margin-bottom: 24px;
    @media (max-width: 767px) {
      font-size: 16px;
    }

  }
  &__detail {
    background: none;
    border:none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    line-height: 150%;
    color: #E64B52;
    position: relative;
    transition: all 0.3s ease;
    @media (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 34px;
    }
    &:hover {
      @media (min-width: 1280px) {
        color: #b62B32;
        svg {
          fill: #b62B32;
        }
      }
    }
    svg {
      transition: all 0.3s ease;
      fill: #E64B52;
      margin-right: 21px;
      transform: rotate(180deg);
      @media (max-width: 767px) {
        width: 22px;
        margin-right: 10px;
      }
    }
    &--active {
      margin-bottom: 48px;
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
      svg {
        transform: rotate(0deg);
      }
    }
  }
  &__list2 {
    display: none;
  }
  &__item2 {
    padding-left: 40px;
    position: relative;
    & + & {
      margin-top: 12px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #E64B52;
      left: 0;
      top: 13px;
      @media (max-width: 767px) {
        top: 6px;
      }
    }
  }
  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
}