.container-wide {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  border-top: 1px solid transparent;
  @media (max-width: 1365px) {
    max-width: 960px;
  }
  @media (max-width: 991px) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.hide {
  display: none !important;
}

.fade {
  visibility: hidden !important;
  opacity: 0 !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}